mixin card(title, text, link)
    .col-sm-4.my-3
        .card
            .card-body
                <h5 class="card-title">#{title}</h5>
                <p class="card-text">#{text}</p>
                a(href=`${link}` class="btn btn-primary") Ir