header
    nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
        - ruta=direccion || "..";
        a(href=`${ruta}/home`)
            img(src=`${ruta}/views/imagenes/logoMatanza.png` alt="logo" width="100")
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")
        .collapse.navbar-collapse#navbarTogglerDemo01
            div.ml-auto: a(href=`${ruta}/logout` class="text-white d-block d-sm-block btn btn-primary ml-auto my-2") Cerrar Sesión