.container.my-5
    h3 Services del día de hoy
    if services.length > 0
        div.table-responsive
            table.table
                tr
                    td Id
                    td Patente
                each service in services
                    tr
                        td= service['id']
                        td= service['patente_vehiculo']
    else
        h5.text-center No hay services en el día de la fecha
    .text-center
        a(href="service/consultar") Ver todos los services
footer.text-center.bg-dark.p-5
    span.text-white Transportes La Matanza - Florencio Varela 1903 - B1754 - San Justo - Provincia de Buenos Aires