extends ./components/template
block titulo
    - titulo="Home";
block body
    include ./components/header
    .container.my-5
        .d-flex.flex-column
        h2(class="alert alert-info") Bienvenido:
            small  #{datos["nombre"]}
            small  #{datos["apellido"]}
        .row
            include ./components/card
            +card("Arrastre","En esta pagina se muestran los usuarios con rol asignado.","arrastre/consultar","arrastre/nuevo",true)
            +card("Cliente","En esta pagina se muestra los clientes de cada operación.","cliente/consultar","cliente/nuevo",true)
            +card("Celulares","En esta pagina se muestra los celulares asignados.","celulares/consultar","celulares/nuevo",true)
            +card("Mantenimiento","En esta pagina se muestran los mantenimientos de cada operación.","mantenimiento/consultar","mantenimiento/nuevo",true)
            +card("Proforma","En esta pagina se muestra los detalles de cada operación.","proforma/consultar","proforma/nuevo",true)
            +card("Service","En esta pagina se muestra los service realizados.","service/consultar","service/nuevo",true)
            +card("Usuarios","En esta pagina se muestran los usuarios con rol asignado.","usuarios/consultar")
            +card("Vehiculo","En esta pagina se muestra el vehiculo asignado.","vehiculo/consultar","vehiculo/nuevo",true)
            +card("Viaje","En esta pagina se muestra los viajes asignados.","viaje/consultar","viaje/nuevo")
