extends ./components/template
block titulo
    - titulo="Home";
block body
    include ./components/header
    .container.my-5
        .d-flex.flex-column
        h2(class="alert alert-info") Bienvenido:
            small  #{datos["nombre"]}
            small  #{datos["apellido"]}
        .row
            include ./components/card
            +card("Usuarios","En esta pagina se muestran los usuarios con rol asignado.","usuarios/consultar")
