extends ./components/template
block titulo
    - titulo="Formulario de carga";
block body
    include ./components/header
        .container.my-5
            h1.text-center Complete los datos:
            form(action="" method="POST")
                 <input type="hidden" value="<?php echo $_GET['idViaje']?>">
                .form-group.col-md-6
                    label(for="cantidad") Cantidad de combustible cargado:
                    input(type="text" name="cantidad" class="form-control" placeholder="Ingrese su cantidad de combustible cargado")
                .form-group.col-md-6
                    label(for="posicionamiento") Posicionamiento
                    input(type="text" name="posicionamiento" class="form-control" placeholder="Ingrese su latitud y longitud")
                button(type="submit" name="enviarForm" class="btn btn-success") Enviar
