extends ./components/template
block titulo
    - titulo="Home";
block body
    include ./components/header
    .container.my-5
        .d-flex.flex-column
            small DNI: #{datos["dni"]}
            small Nombre: #{datos["nombre"]}
            small Apellido: #{datos["apellido"]}
        .row
            include ./components/card
            +card("Vehiculo","En esta pagina se muestra el vehiculo asignado.","vehiculo/consultar")
            +card("Viaje","En esta pagina se muestra los viajes asignados.","viaje/consultar")
            +card("Service","En esta pagina se muestra los service realizados.","service/consultar")