extends ./components/template
block titulo
    - titulo="Home";
block body
    include ./components/header
    .container.my-5
        .d-flex.flex-column
        h2(class="alert alert-info") Bienvenido:
            small  #{datos["nombre"]}
            small  #{datos["apellido"]}
        .row
            include ./components/card
            +card("Mantenimiento","En esta pagina se muestran los mantenimientos de cada operaci칩n.","mantenimiento/consultar")
            +card("Posici칩n actual","Reporte su posici칩n actual.","mapa")
            +card("Gastos","Actualice los gastos que est치 realizando durante el viaje.","#")
            +card("Vehiculo","En esta pagina se muestra el vehiculo asignado.","vehiculo/consultar")
            +card("Viaje","En esta pagina se muestra los viajes asignados.","viaje/consultar")
            +card("Service","En esta pagina se muestra los service realizados.","service/consultar")
