extends ./components/template
block titulo
    - titulo=`${accion} Costeo`;
block body
    include ./components/header
   .container.my-5
           h1.text-center Costeo
           form(action="procesar" method="POST")
                .form-group
                    label(for="codigo") Número de codigo
                    input(type="text" name="codigo" class="form-control" placeholder="Ingrese su codigo")
                .form-group
                    label(for="detalles") Detalles
                    input(type="text" name="detalles" class="form-control" placeholder="Ingrese detalles")
                .form-group
                    label(for="precioEst") Precio estimado
                    input(type="text" name="precioEst" class="form-control" placeholder="Ingrese el precio estimado")
                .form-group
                    label(for="precioReal") Precio real
                    input(type="text" name="precioReal" class="form-control" placeholder="Ingrese el precio real")
                button(type="submit" name="enviarArrastre" class="btn btn-success") #{accion} Costeo