extends ./components/template
block titulo
    - titulo="Index";
block body
    .col-md-4.mx-auto
            .text-center
                img(src="views/imagenes/logoMatanza.png" id="logo" alt="Logo" class="mt-3" style="width: 150px")
            h1.text-center.m-2
                i.m-2.fas.fa-user
                | Iniciar sesión
            form(action="usuarios/login" method="POST" id="formLogin")
                .form-group
                    input(type="email" name="email" class="form-control" value=`${valueEmail}` id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su email")
                .form-group
                    input(type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Ingrese su contraseña")
                    a(href="#") ¿Olvidaste tu contraseña?
                small.text-danger= error
                button(class="btn btn-block btn-primary" name="login" type="submit") Ingresar
                a(href="registrar" type="submit" class="btn btn-block  btn-outline-primary") Registrarse
