extends ./components/template
block titulo
    - titulo="Mapa";
    link(rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css")
block body
    include ./components/header
    .container
        h1.text-center.m-3 Seguimiento del vehículo
        .row
            .col-md-8.text-center.p-2#mapContainer(style="height:500px;")
            .col-md-4
                input(type="hidden" id="posicion" value=posicion)
                h5.font-weight-light Su posición actual:
                    span#locacion
                h5.font-weight-light Kilometros recorridos: #{km_totales}
                h5.font-weight-light Combustible consumido: #{combustible_total}
block script
    script(src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8")
    script(src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8")
    script(src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" type="text/javascript" charset="utf-8")
    script(src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8")
    script(src="../views/js/mapa.js")