<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <form action="">
        <div class="row">
            <div class="form-group col-md-6">
            <input type="hidden" value="<?php echo $_GET['idViaje']?>">

            <label for="cant">Cantidad de combustible cargado:</label>
            <input type="number" class="form-control" id="">
        </div>
        <div class="form-group col-md-6">
            <label for="posicion">Posicion:</label>
            <input type="text" class="form-control" id="">
        </div>
        </div>
    </form>
</body>
</html>